.memo.txt.swp
.RequirementsDiagram.plantuml.swp
.BlockDiagram.plantuml.swp
Documents/SystemIdea/SystemDiaglam.plantuml~
Documents/SystemIdea/.SystemDiaglam.plantuml.un~
RequirementsAndSpecs/BlockDiagram/BlockDiagram.plantuml~
RequirementsAndSpecs/BlockDiagram/.BlockDiagram.plantuml.un~
Documents/memo.txt~
Documents/.memo.txt.un~
RequirementsAndSpecs/UsecaseDiagram/UsecaseDiagram.plantuml~
RequirementsAndSpecs/UsecaseDiagram/.UsecaseDiagram.plantuml.un~
.UsecaseDiagram.plantuml.swp
RequirementsAndSpecs/RequirementDiagram/.RequirementsDiagram.plantuml.un~
RequirementsAndSpecs/RequirementDiagram/RequirementsDiagram.plantuml~
ControlBox/FW/WiFiMCUFW/.vscode/.BROWSE.C_CPP.DB-wal
ControlBox/FW/WiFiMCUFW/.vscode/.BROWSE.C_CPP.DB-shm
ControlBox/FW/MainMCUFW/Debug/
ControlBox/FW/GPIO_Expander/BUILD/
settings.json
compile_commands.json
ControlBox/FW/MainMCUFW/gcc-defines.txt
*.ipch
ControlBox/FW/MainMCUFW/.vscode/ipch
.cortex-debug.peripherals.state.json
.cortex-debug.registers.state.json
ControlBox/FW/WiFiMCUFW/.vscode/ipch
ControlBox/FW/WiFiMCUFW/UML/CommandReceiveSequence.plantuml~
ControlBox/FW/WiFiMCUFW/UML/.CommandReceiveSequence.plantuml.swp
ControlBox/FW/WiFiMCUFW/UML/.CommandReceiveSequence.plantuml.un~
ControlBox/FW/VSCodeFWWorkspace.code-workspace
ControlBox/FW/MainMCUFW/Src/main.c~
ControlBox/FW/MainMCUFW/Src/.main.c.un~
ControlBox/FW/GPIO_Expander/.vscode/ipch/d1ef5500424c2ce2/mmap_address.bin
RenjiSystem.code-workspace
*.plantuml~
*.un~
